:root {
  /* Backgrounds */
  --color-bg-primary: #f2edff; /* Lavender */
  --color-bg-secondary: #fffcf5; /* Cream */
  --color-bg-tertiary: #b9d9f8; /* Sky Blue */

  /* Text & Core */
  --color-text-primary: #5b5292; /* Dark Purple */
  --color-text-secondary: #4d588c; /* Deep Indigo */
  --color-text-dark: #2b2b2b; /* Black */
  --color-text-light: #ffffff; /* White */

  /* Accents & Indicators */
  --color-accent-amber: #ffc157;
  --color-accent-teal: #02afb9;
  --color-accent-sky: #b9d9f8;

  /* Grays / Neutrals */
  --color-gray-dark: #6d6d6d;
  --color-gray-medium: #aeaeae;
  --color-gray-light: #d6d6d6;

  /* Typography */
  --font-family-headings: 'Schibsted Grotesk', sans-serif;
  --font-family-body: 'DM Mono', monospace;
  --font-family-aux: 'Avenir', sans-serif;

}
